:root{
--fundo: #FFC0CB;
--cor-frente:#FFB6C1;
--cor-verso:#000000;
--destaque:#FFB5C5;
--preto:#000000;
--branco:#ffffff;

}
body{
background-color: var(--fundo);
}
footer{
    position: fixed;
    bottom: 0;
    background-color: var(--preto);
    color: var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.cartao{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    

}